<!--<h1>Home#index</h1>-->
<!--<p>Find me in app/views/home/index.html.erb</p>-->

<form action="/home/intro" method="get">
    <h1>나와 닮은 연예인은 누구일까요? </h1>

    <p>당신의 이름을 적어주세요.</p>
    <input type="text" name="name">
    
    <br>
  
    <input type="submit" value="보내기">
    <br>

    
</form>
